.split {
    display: flex;
}

@media(max-width: 620px) {
    .split {
        flex-direction: column;
    }

    .hero {
        width: 100vw;
        height: 20vh;
    }

    .content {
        min-height: 80vh;
    }

    .shpiel {
        min-height: calc(80vh - 40px);
    }
}

@media(min-width: 621px) {
    .hero {
        width: 60vw;

        flex: 1 1 auto;
    }

    .content {
        min-height: 100vh;
    }

    .shpiel {
        min-height: calc(100vh - 40px);
    }
}

.hero {
    overflow: hidden;

    background-image: url("../public/about.webp");
    background-size: cover;
    background-position: center center;
}

.content {
    width: 100%;
}

.head {
    font-size: 64px;
    color: var(--green);
    margin-bottom: 10px;
}

.shpiel {
    display: flex;
    flex-direction: column;

    margin-left: 48px;
    margin-right: 48px;
    margin-top: 0;

    font-size: 22px;
    max-width: 920px;

    justify-content: center;
}

.shpiel > div {
    margin-bottom: 10px;
}
