.split {
    display: flex;
}

@media(max-width: 620px) {
    .split {
        flex-direction: column;
    }

    .hero {
        width: 100vw;
        height: 30vh;

        z-index: 1;
    }

    .content {
        z-index: 2;
        min-height: 70vh;
    }

    .shpiel {
        min-height: calc(70vh - 80px);
    }
}

@media(min-width: 621px) {
    .hero {
        position: fixed;

        width: 37.5vw;
        height: 100vh;
    }

    .spacer {
        width: 60vw;
        flex: 1 1 auto;
    }

    .content {
        min-height: calc(100vh - 48px);
    }

    .shpiel {
        min-height: calc(100vh - 80px);
    }
}

.hero {
    overflow: hidden;

    background-image: url("../public/about.webp");
    background-size: cover;
    background-position: center center;
}

.content {
    width: 100%;
}

.head {
    font-size: 64px;
    color: var(--green);
    margin-bottom: 10px;
}

.shpiel {
    display: flex;
    flex-direction: column;

    margin-left: 48px;
    margin-right: 48px;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 20px;
    max-width: 920px;

    justify-content: center;
    padding-bottom: 38px;
}

.shpiel > p {
    margin: 0;
    margin-bottom: 10px;
}

.flat > .overlay, .flat > .timeline {
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;

    background: var(--bg);
    opacity: 0.2;

    animation: 350ms ease fadeIn 1 alternate;

    z-index: 2;
}

.timeline {
    position: absolute;
    background: var(--lbg);

    overflow: hidden;

    z-index: 3;
}

@media(min-width: 621px) {
    .timeline {
        width: 66vw;
        height: 66vh;

        top: 17vh;
        left: 17vw;
        border-radius: 2vw;
    }
}

@media(max-width: 620px) {
    .timeline {
        width: 100vw;
        height: 100vh;
    }
}

.exitButton {
    font-size: 18px;
    color: var(--lfg);

    transition: 200ms ease;

    z-index: 2;
}

.exitButton:hover {
   transform: scale(1.1);
   color: var(--fg);
   cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
}

.slide {
    display: flex;
    align-items: center;
}

.slideHero {
    overflow: hidden;

    background-image: url("../public/me.webp");
    background-size: cover;
    background-position: center center;
}

.slideContent {
    overflow:auto;
    scrollbar-width: 0;
}

.slideContent::-webkit-scrollbar {
    display:none;
}

@media(min-width:769px) {
    .slideContent {
        width: calc(55% - 40px);
        max-height: calc(100% - 80px);
        padding-left: 40px;
    }

    .slideSpacer {
        width: 35%;
    }

    .slideHero {
        position: fixed;

        width: 35%;
        height: 100%;
    }

    .exitButton {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

@media(min-width:621px) and (max-width: 768px) {
    .slideContent {
        width: calc(60% - 40px);
        max-height: calc(100% - 80px);
    }
}

@media(max-width: 620px) {
    .slideContent {
        width: calc(60% - 40px);
        max-height: calc(100% - 80px);
    }
}

@media(max-width: 768px) {
    .slide {
        flex-direction: column;
    }

    .slideHero {
        width: 100%;
        height: 40%;
        margin-bottom: 40px;

        z-index: 1;
    }

    .slideContent {
        z-index: 3;
        width: calc(90%);
        height: calc(60% - 80px);
        padding: 0 5% 0 5%;
    }

    .exitButton {
        position: absolute;
        right: 20px;
        top: calc(40% + 20px);
    }
}

.slideShpiel {
    font-size: 18px;
    overflow: auto;
}

.slideShpiel > p {
    margin: 0;
    margin-top: 10px;
}

.slideHead {
    margin: 0;
    margin-bottom: -3px;

    font-size: 48px;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}
