.beta {
  background: var(--lbg);
  color: var(--lfg);

  z-index: 3;

  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  padding-top: 4px;

  font-weight: normal;
  transition: 600ms;
}

.betac {
  position: fixed;
  bottom: 10px;
  right: 10px;

  font-size: 18px;

  display: flex;
  align-items: center;

  cursor: pointer;
  overflow: hidden;

  z-index: 2;
}

.bmsg {
  margin-right: 10px;

  background: var(--lbg);
  color: var(--lfg);
  padding: 4px 10px 0 10px;
  border-radius: 17px;
  height: 30px;

  display: none;

  opacity: 0;
  -webkit-animation:jumpIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:jumpIn ease-in 1;
  animation:jumpIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:600ms;
  -moz-animation-duration:600ms;
  animation-duration:600ms;
}

.betac:hover > .bmsg{
  display: block;
}

@keyframes jumpIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.betac:hover > .beta {
  color: var(--fg);
}
