.head {
  font-size: 64px;
  color: var(--blue);
  margin-bottom: 10px;
}

.hero {
  background-image: url("../public/files.webp")
}

.filecont {
  border: 2px solid var(--lfg);
  border-radius: 8px;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  margin-bottom: 10px;
  background: var(--bg);

  font-weight: normal;
  transition: 300ms;
}

@media(min-width: 621px) {
  .filecont {
    width: calc(50% - 10px);
  }
}

@media(max-width: 620px) {
  .filecont {
    width: 100%;
  }
}

.filecont:hover {
  transform: translate(-3px, -3px);
  filter: drop-shadow(3px 3px 0 #4c4c4c60);
}

.filename {
  font-family: Outfit;
  font-weight: 600;
}

.description {
  font-size: 18px;
}

.filegrid {
  margin-top: 20px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.boxtext {
  padding: 10px;
  z-index: 2;
}
