.imgbutton{
  height: 36px;
  width: 36px;
  background: var(--lbg);
  color: var(--lfg);

  font-weight: normal;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  border-radius: 18px;
  margin-bottom: 15px;

  cursor: pointer;

  transition: ease 300ms;
}

.imgbutton:hover {
  color: var(--fg);
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.bgmask {
  background: #393939;
  opacity: 0.4;
  height: 100%;
  width: 100%;

  z-index: 5;
}



.coverimg {
  width: 100%;
  height: 100%;
  background: var(--lbg);
  margin:0;
  object-fit: cover;
}

.carousel {
  background: var(--lbg);

  position: absolute !important;
  border-radius: 8px;
  overflow: hidden;
  z-index: 5;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swipe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:651px){
  .carousel {
    width: 90vh;
    height: 67.5vh;

    max-width: 90vw;
    max-height: 67.5vw;
  }
}

@media(max-width: 650px) {
  .carousel {
    width: 90vw;
    height: 67.5vw;
  }
}

.exit {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  background: var(--lbg);
  z-index: 20;
  color: var(--lfg);
  transition: 200ms ease;

  bottom: 10px;
  right: 10px;
}

.exit:hover {
  color: var(--fg);
}
