@import url("https://use.typekit.net/uqc8pqh.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap');

.dark {
    --red: #ac8a8c;
    --blue: #8aacab;
    --green: #8aac8b;
    --yellow: #aca98a;
    --purple: #8f8aac;

    --bg: #0f0f0f;
    --fg: #f0f0f0;
}

.light {
    --red: #c49ea0;
    --green: #9ec49f;
    --blue: #9ec3c4;
    --yellow: #c4c19e;
    --purple: #a39ec4;

    --bg: #f0f0f0;
    --fg: #0f0f0f;
}

/* general formatting */
body,
html {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    min-height: 100%;
    margin: 0;
}

.container {
    background: var(--bg);
    color: var(--fg);

    transition: 200ms ease;

    min-height: 100vh;
}

/* generic styles */
.emph {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}


/* link formatting */
a {
    text-decoration: none;
    font-weight: bold;

    color: var(--fg);
    display: inline-block;

    transition: 200ms ease;
}

a:hover {
    color: inherit;
}

/* color hovers */
.green:hover {
    color: var(--green);
}

.blue:hover {
    color: var(--blue);
}

.red:hover {
    color: var(--red);
}

.yellow:hover {
    color: var(--yellow);
}

.purple:hover {
    color: var(--purple);
}
