@import url("https://use.typekit.net/uqc8pqh.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap');

.dark {
    --red: #ac8a8c;
    --blue: #8aacab;
    --green: #8aac8b;
    --yellow: #aca98a;
    --purple: #8f8aac;
    --bloo: #8a98ac;
    --pink: #ac8aac;
    --orange: #c6a679;

    --bg: #0f0f0f;
    --fg: #f0f0f0;
    --lbg: #191919;
    --lfg: #767676;
}

.light {
    --red: #c49ea0;
    --green: #9ec49f;
    --blue: #9ec3c4;
    --yellow: #c4c19e;
    --purple: #a39ec4;
    --bloo: #a5b4cb;
    --pink: #c49ec4;
    --orange: #ceb188;

    --bg: #f0f0f0;
    --fg: #0f0f0f;
    --lbg: #e7e7e7;
    --lfg: #767676;
}

/* general formatting */
body,
html {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    margin: 0;
    height: 100%;
}

.container {
    background: var(--bg);
    color: var(--fg);

    transition: 200ms ease;

    min-height: 100%;
}

/* generic styles */
.emph {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}


/* link formatting */
a {
    text-decoration: none;
    font-weight: bold;

    color: var(--fg);
    display: inline-block;

    transition: 200ms ease;
}

a:hover {
    color: inherit;
}

/* Idea for the future? */
/* .content > div > a {
 *     font-weight: normal;
 *     background: linear-gradient(#FFFFFF00 55%, var(--green) 45%);
 * }
 * 
 * .content > div > a:hover {
 *     color: var(--fg);
 *     background: var(--green);
 *     animation: 300ms ease bgTransition 1 alternate;
 * }
 * 
 * @keyframes bgTransition {
 *     0% {
 *         background: linear-gradient(#FFFFFF00 55%, var(--green) 45%);
 *     }
 *     100% {
 *         background: var(--green);
 *     }
 * } */

/* color hovers */
.green:hover {
    color: var(--green);
}

.blue:hover {
    color: var(--blue);
}

.red:hover {
    color: var(--red);
}

.yellow:hover {
    color: var(--yellow);
}

.purple:hover {
    color: var(--purple);
}

.bloo:hover {
    color: var(--bloo);
}

.pink:hover {
    color: var(--pink);
}

.orange:hover {
    color: var(--orange);
}

/* text colors */
.gr {
    color: var(--gr);
}

.cy {
    color: var(--blue);
}

.re {
    color: var(--red);
}

.ye {
    color: var(--yellow);
}

.pu {
    color: var(--purple);
}

.bl {
    color: var(--bloo);
}

.or {
    color: var(--orange);
}

.pi {
    color: var(--pink);
}

/* Hack for NavBar */

.active > div {
    transform: translate(0);
}

