.main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    height: calc(100% - 40px);
    width: 100%;
    margin-top: -80px;
    margin:0;

    background: var(--bg);

    transition: 200ms ease;
    margin:0;
}

.header {
    font-size: 64px;
}

.header:hover {
    transition: 200ms ease;
}

@media(min-width: 620px) {
    .main{
        align-items: center;
    }

    .gh {
        background: var(--red);
    }

    .li {
        background: var(--bloo);
    }

    .fa {
        background: var(--green);
    }

    .em {
        background: var(--yellow);
    }

    .bubbles > div > a {
        color: transparent;
    }
}

@media(max-width: 620px) {
    .main{
        padding-left: 20px;
        width: calc(100vw - 20px);
    }

    .bubbles > div > a {
        font-weight: bold;
        color: inherit;
        font-size: 28px;
    }
}

.shpiel {
    font-size: 40px;
}

.bubbles {
    display: flex;
    margin-right: -15px;
    margin-top: 15px;
}

.bubbles > div {
    height: 32px;
    width: 32px;

    border-radius: 16px;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 250ms ease;

    font-size: 16px;
}

.bubbles > div:hover {
    background: transparent;
    font-weight: bold;
    font-size: 28px;
}

.gh {
    color: var(--red);
}

.li {
    color: var(--bloo);
}

.fa {
    color: var(--green);
}

.em {
    color: var(--yellow);
}

.bubbles > div:hover > a {
    color: inherit;
}
