.page {
  min-height: calc(100vh);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back {
  position: fixed;

  top: 20px;
  left: 20px;

  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;

  background: var(--lbg);
  font-weight: bold;
  border-radius: 17.5px;
}

.back:hover {
  transform: rotate(180deg);
}

.image {
  margin-top: 55px;

  width: 60vw;
  max-width: 850px;

  height: 30vw;
  max-height: calc( 850px / 2);

  background-size: cover;
  background-position: center center;
}

.content {
  width: 60vw;
  max-width: 790px;

  font-size: 18px;
  margin-bottom: 50px;
}


.content > h1 {
  font-family: Outfit, Roboto, sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: -8px;
}

@media(max-width: 620px) {
  .image {
    width: 80vw;
    height: 40vw;
    margin-top: 65px;
  }

  .back {
    position: absolute;
    z-index: 3;
  }

  .content {
    width: 80vw;
    font-size: 16px;
  }

  .content > h1 {
    font-size: 28px;
  }

  .page {
    justify-content: start;
  }
}

.red {
  background-image: url("../public/red.webp")
}


.purple {
  background-image: url("../public/purple.webp")
}


.orange {
  background-image: url("../public/orange.webp")
}

.blue {
  background-image: url("../public/blue.webp")
}

.cyan {
  background-image: url("../public/cyan.webp")
}

.pink {
  background-image: url("../public/pink.webp")
}

.yellow {
  background-image: url("../public/yellow.webp")
}

.green {
  background-image: url("../public/green.webp")
}

.links {
  position: fixed;
  bottom: 0;
  right: 10px;
}

.link, .linkbutton {
  height: 36px;
  width: 36px;
  background: var(--lbg);
  color: var(--lfg);

  font-weight: normal;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  border-radius: 18px;
  margin-bottom: 10px;

  cursor: pointer;

  transition: ease 300ms;
}

.linkbutton:hover {
  transform: rotate(180deg);
  color: var(--fg);
}

.open {
  z-index: 0;
  animation: slidein 500ms ease;
}

.close {
  display: none;
}

@keyframes slidein {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.hyper {
  display: flex;
  flex-direction: column;
}

.link:hover {
  color: var(--fg);
}
