.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.head {
  font-family: Outfit, Robot, sans-serif;
  font-size: 48px;
}

.content {
  margin-top: 20px;
  max-width: 950px;
  width: 90vw
}

.tile {
  width: 350px;
  position: relative;
  padding: 20px;
}

.tileimg {
  position: relative;
  width: 100%;
  padding-top: 55%;
}

.tiledate {
  font-family: Outfit, Roboto, sans-serif;
  font-size: 16px;
  color: var(--lfg);
}

.tiletent {
  padding: 15px;
  padding-bottom: 0;
}

.tiletle {
  font-size: 25px;
  font-family: Outfit;
  font-weight: 600;
  transition: 200ms ease;
  cursor: pointer;
}

.tileder{
  height: 2px;
  background-image: repeating-linear-gradient(90deg, var(--lfg) 0, 4px, transparent 4px, transparent 7px);
  margin: 5px 3px;
}

.tiledesc {
  margin: 5px;
  margin-top:0;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  max-width: 780px;
}

.gct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tileimg > span {
  border-radius: 4px;
}


@media(min-width:826px) {
  .buttongroup {
    margin-left: 25px;
  }
}

@media (max-width: 825px) {
  .headr {
    justify-content: space-between;
  }

  .gallery{
    align-items: center;
    flex-direction: column;
  }

  .tile {
    width: 80vw;
    padding: 15px;
  }

  .tileimg{
    width: 100%;
    padding-top: 0;
    height: 180px;
  }
}

.desc {
  font-size: 20px;
  margin-bottom: 15px;
}

.gr {
    background: var(--green);
}

.cy {
    background: var(--blue);
}

.re {
    background: var(--red);
}

.ye {
    background: var(--yellow);
}

.pu {
    background: var(--purple);
}

.bl {
    background: var(--bloo);
}

.or {
    background: var(--orange);
}

.pi {
    background: var(--pink);
}

.headr {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 18px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 45px;
  height: 45px;
  border-radius: 22px;
  background: var(--lbg);
  color: var(--lfg);
  cursor: pointer;

  transition: 200ms ease;
}

.button:hover {
  color: var(--fg);
}

.buttongroup {
  display: flex;
}

.exit {
  width: 42px;
  padding-left: 3px;
  margin-left: 15px;
}
