.head {
  font-size: 64px;
  color: var(--purple);
  margin-bottom: 10px;
}

.hero {
  background-image: url("../public/work.webp");
}

.proj {
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 5px;
}

@media(min-width: 650px) {
  .proj {
    width: calc(33% - 5px);
  }
}

@media(max-width: 650px) {
  .proj {
    width: calc(50% - 5px);
  }
}

.pt {
  font-weight: 400;
  font-family: Outfit;

  color: var(--lfg);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
